.main-layout {
    width: 100%;
    overflow-x: hidden;
}

.content {
    width: 100%;
    min-height: 80vh;
    padding: 20px;
    padding-top: 100px;
    /* Added padding to clear fixed navbar (80px + 20px) */
    box-sizing: border-box;
}